.fondo{
    background-image: url(./img/fondo2.webp);
    padding: 25%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
.menu{
    background-color:black;
}
.colorfooter{
    background-color: black;
}